[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xmltodict = "*"
pytest = "*"
pandas = "*"
bump2version = "*"
formatflick = {file = "."}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
